body {
    background-image: url('background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

#heading {
    font-family: Libre Baskerville;
    background-color: rgb(0, 0, 214);
    color: white;
    font-size: 2vw;
}
.link{
    color: white;
    font-size: 2vw;
}    
#body {
font-family: work sans;
font-size: 20px;;
padding: 20px
}
#bod{
    font-family: work sans;
    font-size: 20px;
}
#head{
    background-color: rgba(240, 255, 255, 0.30);
    text-align: center;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}


.nav-links{
display: flex;
margin: 0;
padding:0;
width:65%;
}

.nav-links li{
    list-style: none;
    list-style-type: none;
}

li{
    margin:auto;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    background: hsla(182, 100%, 50%, 0.459);
    height: 3px;
    margin:5px;
}
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(181, 225, 255, 0.87)
}

.split {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.split img {
    max-width: 100%;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 33.333%;
    display: flex;
    flex-direction: column;
    font-family: "work sans"
}
.flex-item2 {
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    font-family: "work sans";
    border: 2px solid #63019c93;
}
.flex-img img {
    flex-basis: 100%;  
}
@media screen and (max-width:700px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 92vh;
        top:8vh;
        background-color: rgba(188, 229, 253, 0.97);
        display: flex;
        flex-direction: column;
        align-items:center;
        width:40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .split {
        flex: 1 100%;
        flex-grow: inherit;
    }

    .burger{
        display: block;
    }
    #bod{
        font-family: work sans;
        font-size: 14px;
    }
    .link{
        font-size: 3vw;
    }
    .flex-item {
        flex-basis: 100%
    }
    .flex-item2 {
        flex-basis: 50%
    }
    #body{
        font-size:3vw
    }
    #heading{
        font-size:3vw
    }
}
body {
    color: rgb(0, 0, 87);
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0%;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
 }

h2{
    background: rgb(126, 208, 255);
    text-align: center;
    font-size: 3vw;
}

.h2{
    font-family: "baskerville";
}